.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 1em 0 1em;
}

.principal p{
	display: inline-block;
    vertical-align: middle;
    max-width: 42%;
    margin-left: 10%;
}

.linhas{
    display: flex;
    align-items: center;
    text-align: justify;
}

.imagem-linha{
	height: 10em;
	width: 10em;	
}

.l1{
	margin-left: 0;
	vertical-align: center;
}

.l2{
	margin-left: 10em;
}

.l3{
	margin-left: 20em;
}

.l4{
	margin-left: 30em;
}

.l4 a{
	text-align: center;
	text-decoration: none;
	color: white;

}

.instagram-icon{
    width: 30%;
    border-radius: 30%;
    display: block;
    margin: auto;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.principal em strong{
	color: rgb(220,0,0);
}

#missao {
	font-size: 20px;
}

.titulo-beneficios {
	text-align: center;
	font-size: 1.5em;
	margin: 1em 0 1em;
	clear: both;
}

.beneficios ul{
	display: inline-block;
}


.beneficios li{
	text-decoration: none;
	padding: 5px;
}