#header {
	background-color: #CCCCCC;
	padding: 20px 0;
}

.caixa{
	width: 940px;
	position: relative;
	margin: 0 auto;
}

#logo{
	width: 30%;
}

nav {
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #C87654;
	text-decoration: underline;
}

.products{
	width: 940px;
	margin: 0 auto;	
	padding: 40px 0;
}

.products li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 20px 60px 20px 60px;
}

.products li:hover {
    border-color: #C78C19;
}

.products li:active {
    border-color: #088C19; 
	background-color: #EBA66B;
    position: absolute;
    top:0;
    left: 35%;
}

.products li:hover h2 {
    font-size: 40px;
}

.products h2{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.products li img{
 	width: 100%;
}

.products li p{
	font-size: 18px;
	margin-top: 10px;
}

.products li ul li{
	display: block;
	width: 100%;
	text-align: left;
	padding: 0 0 0 20px;
	box-sizing: border-box;
	border:none;
}

.disclaimer{
	font-size: 11px;
 	font-style: italic;
}

.price{
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.productImage{
	height: 300px;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}