#header {
	background-color: #CCCCCC;
}

nav li {
	display: inline;
	margin: 0 0 0 15px
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.product{
	display: inline;
}

.product-info{
	display: inline-block;
	width: 25%;
}

.itens{
 	font-style: italic;
 }

.disclaimer{
	font-size: 11px;
}

img{
  width: 23%;
}

.image{
  display: inline;
}